<div class="row">
	<div class="col-sm-4">
		<div class="summonerSpell summonerSpell-{{spell1Id}}"></div>
		<div class="summonerSpell summonerSpell-{{spell2Id}}"></div>
		<img src="http://ddragon.leagueoflegends.com/cdn/6.11.1/img/champion/{{stripWhiteSpace championName}}.png" alt="">
{{!-- 						<img class="" src="http://ddragon.leagueoflegends.com/cdn/6.11.1/img/profileicon/{{profileIconId}}.png" alt=""> --}}
	</div>
	<div class="col-sm-6">
		<h3>{{summonerName}}</h3>
		<h2>{{championName}}</h2>
	</div>
	{{!-- <p>{{json .}}</p> --}}
</div>