{{title}}
<pre>
{{json data}}
</pre>

{{#each data.participants}}
	<div>
	<img src="http://ddragon.leagueoflegends.com/cdn/6.11.1/img/profileicon/{{profileIconId}}.png" alt="">
		<h1>{{summonerName}}</h1>
		<p>{{json .}}</p>
	</div>
{{/each}}